# INSTRUCCIONES:
# 1. Crea un archivo .env y copia el contenido de este archivo en él
# 2. Editar .env y reemplazar con TUS credenciales reales
# 3. NUNCA hacer commit de .env (ya está en .gitignore)
# 4. Reemplaza 0000 con el puerto definido en los otros servicios.
REDIS_HOST=localhost
REDIS_PORT=0000

PROFILE_SERVICE_URL=http://localhost:0000
CONNECTION_SERVICE_URL=ws://localhost:0000
NOTIFICATION_SERVICE_URL=ws://localhost:0000
CHAT_SERVICE_URL=ws://localhost:0000
CHAT_SERVICE_REST_URL=http://localhost:0000