spring.application.name=connection-service
server.port=8083

spring.rabbitmq.host=${RABBITMQ_HOST:localhost}
spring.rabbitmq.port=${RABBITMQ_PORT:5672}
spring.rabbitmq.username=${RABBITMQ_USERNAME:guest}
spring.rabbitmq.password=${RABBITMQ_PASSWORD:guest}

spring.redis.host=${REDIS_HOST:localhost}
spring.redis.port=${REDIS_PORT:6379}
spring.redis.password=${REDIS_PASSWORD:}

logging.level.org.hibernate.sql=off
spring.jpa.show-sql=false

connection.service.instance.id=${INSTANCE_ID:instance-1}
chat.service.url=${CHAT_SERVICE_URL:http://localhost:8085}
